Data Frame Basics


1- Create a DataFrame whose index is the first 10 letters of the alphabet and contains two more columns with first 10 prime numbers and the first 10 fibonacci numbers.

In [19]:
import pandas as pd
import numpy as np
Alphabet = ['a','b','c','d','e','f','g','h','i','j']
basic_df = pd.DataFrame(index = Alphabet)

basic_df["Prime_Numbers"] = [2,3,5,7,11,13,17,19,23,29]
basic_df["Fibonacci_Numbers"] = [1,1,2,3,5,8,13,21,34,55]

basic_df

   Prime_Numbers  Fibonacci_Numbers
a              2                  1
b              3                  1
c              5                  2
d              7                  3
e             11                  5
f             13                  8
g             17                 13
h             19                 21
i             23                 34
j             29                 55